
.table{

    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1%;

}

.table td,th {

    font-size: 14px;
    border-top: 1px solid #ddd;
    padding: 5px 12px;
    text-align: left;
    vertical-align: top;

}

.table tbody tr:nth-child(even) td {
    background-color: #f3f3f3;

}

.h2 {
    color: #183280;
    font-size: 14px;
}